@font-face {
	font-family: "Medodica Regular";
	src: url(/public/fonts/MedodicaRegular.otf);
}

@font-face {
	font-family: "Twilio Sans Mono Medium";
	src: url(/public/fonts/TwilioSansMono-Medium.ttf);
}

:root {
	--c-primary: #1e1e1e;
	--c-secondary: #f7ede2;
	--c-accent: #ccc4c4;

	--ff-heading: "Medodica Regular", "Courier New", Courier, monospace;
	--ff-paragraph:
		"Twilio Sans Mono Medium", "Courier New", Courier, monospace;

	--fs-heading-1: 5.125rem;
	--fs-heading-2: 4rem;
	--fs-heading-3: 3rem;
	--fs-paragraph: 1.375rem;

	--fw-regular: 400;

	--lh-heading-1: 4.375rem;
	--lh-heading-2: 3.75rem;
	--lh-heading-3: 2.8125rem;
}

@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
	}

	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}
}

@layer base {
	html,
	body {
		scroll-behavior: smooth;
	}

	body {
		font: var(--fs-paragraph) var(--ff-paragraph);
		color: var(--c-primary);
		background-color: var(--c-secondary);
	}
}

/* Body Wrapper */
.content-wrapper {
	padding-inline: 1.5rem;
	padding-block: 2rem;
}

/* BG Blur */
.blur-bg {
	z-index: -1;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url("/images/ginger-motto-bg.svg");
	background-repeat: no-repeat;
	background-position: 30% 50%;
	filter: blur(9px);
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-block-end: 1rem;
}

#logotype {
	width: 6.5rem;
}

/* Hamburger */
.nav-hamburger {
	outline: none;
	border: none;
	background: none;
	appearance: none;
	cursor: pointer;
	padding: 0;

	width: 2rem;
	height: 2rem;
	/* background-color: pink; */

	display: block;
	position: relative;
	margin-inline-start: auto;
	z-index: 98;
}

.nav-hamburger .bar,
.nav-hamburger:before {
	content: "";
	display: block;
	position: absolute;
	height: 0.3rem;
	margin: 0.25rem 0;
	background-color: black;
	border-radius: 20rem;
	transition: 0.3s ease-in-out;
}

.nav-hamburger:before {
	width: 100%;
	top: 20%;
}

.nav-hamburger .bar {
	width: 75%;
	right: 0;
}

.nav-hamburger.is-active:before {
	transform: rotate(45deg) translate(0.2rem, 0.16rem);
}

.nav-hamburger.is-active .bar {
	width: 100%;
	transform: rotate(-45deg) translate(0.275rem, -0.25rem);
}

/* Navigation */
.nav-menu {
	position: fixed;
	inset: 0;
	z-index: 97;

	padding-inline-start: 1rem;
	background-color: var(--c-secondary);
	translate: 100vw 0;
	transition: 0.5s ease-in-out;

	display: flex;
	align-items: center;
}

.nav-menu[expanded="true"] {
	translate: 0;
}

.nav-links {
	list-style: none;
	padding-inline-start: 1rem;

	.nav-item {
		text-transform: uppercase;
		font-size: var(--fs-heading-3);
		line-height: 1.5em;
	}

	.nav-link {
		text-decoration: none;
		color: var(--c-primary);
		transition: 0.3s ease-in-out;
	}
}

/* Main */
.hero-wrapper {
	display: grid;
	justify-items: left;
	gap: 1rem;
	margin-block-start: 2rem;
}

/* Heading */
.hero-heading {
	text-transform: uppercase;
	font-family: var(--ff-heading);
	font-size: var(--fs-heading-2);
	font-weight: var(--fw-regular);
	line-height: var(--lh-heading-3);
}

/* Carat */
.carat-wrapper {
	display: inline-block;
	position: relative;
}

.carat {
	position: absolute;
	content: "";
	width: 0.3em;
	height: 0.75em;
	background-color: var(--c-primary);
	left: 2.55em;
}

/* Content */
.hero-content {
	margin-block: 0.275em;
}

/* CTA Buttons */
.hero-cta-btns {
	display: grid;
	grid-row: 2 (1fr);
	width: 100%;
	gap: 1rem;

	button {
		cursor: pointer;
		border: 2px solid var(--c-primary);
		padding-block: 0.75em;
	}

	button:nth-child(1) {
		background-color: var(--c-primary);
		color: var(--c-secondary);
	}

	button:nth-child(2) {
		background-color: var(--c-secondary);
		color: var(--c-primary);
	}
}

/* Media Queries */

/* Mobile */
@media only screen and (max-width: 37.5rem) {
	.heading-tablet-desktop,
	.content-desktop,
	.content-tablet {
		display: none;
	}

	.heading-mobile,
	.content-mobile {
		display: block;
	}
}

/* Tablet */
@media only screen and (min-width: 37.5rem) {
	.content-desktop,
	.heading-mobile,
	.content-mobile {
		display: none;
	}

	.heading-tablet-desktop,
	.content-tablet {
		display: block;
	}

	.blur-bg {
		background-position: -42% -60%;
		filter: blur(0px);
	}

	#logotype {
		width: 9rem;
	}

	.nav-hamburger {
		width: 2.5rem;
		height: 2.5rem;
	}

	.nav-hamburger.is-active:before {
		transform: rotate(45deg) translate(0.28rem, 0.25rem);
	}

	.hero-wrapper {
		position: relative;
		/* background-color: peru; */
		margin-block-start: 4.5rem;
		margin-inline: 2.5rem;

		padding-inline: 3rem;
		padding-block: 4.5rem;

		border: 5px solid var(--c-primary);
		border-radius: 1rem;
	}

	.hero-wrapper::before {
		position: absolute;
		content: "";
		height: 100%;
		width: 100%;
		/* background-color: var(--c-secondary); */
		backdrop-filter: blur(8px);
		z-index: -1;
	}

	.hero-wrapper::after {
		position: absolute;
		content: url("/icons/window-btns.svg");
		width: 100%;
		height: 3rem;
		background-color: var(--c-primary);

		display: flex;
		align-items: center;
		justify-content: right;
		padding-inline-end: 1.25rem;
	}

	.hero-heading {
		line-height: var(--lh-heading-2);
		margin-block: 0.6em;
	}

	.hero-content {
		margin-block-end: 2.5em;
	}

	.hero-cta-btns {
		display: flex;

		button {
			padding-block: 1.5em;
		}

		button:nth-child(1) {
			flex-grow: 1;
		}

		button:nth-child(2) {
			padding-inline: 2.5em;
		}
	}

	.carat {
		top: 0.07em;
		left: 4.25em;
	}
}

/* Desktop */
@media only screen and (min-width: 52rem) {
	.heading-tablet-desktop,
	.content-desktop {
		display: block;
	}

	.content-tablet,
	.heading-mobile,
	.content-mobile {
		display: none;
	}
}
