@font-face {
	font-family: "Medodica Regular";
	src: url(/fonts/MedodicaRegular.otf);
}

@font-face {
	font-family: "Twilio Sans Mono Medium";
	src: url(/fonts/TwilioSansMono-Medium.ttf);
}

:root {
	--c-primary: #1e1e1e;
	--c-secondary: #f7ede2;
	--c-accent: #ccc4c4;

	--ff-heading: "Medodica Regular", "Courier New", Courier, monospace;
	--ff-paragraph:
		"Twilio Sans Mono Medium", "Courier New", Courier, monospace;

	--fs-heading-1: 5.125rem;
	--fs-heading-2: 4rem;
	--fs-heading-3: 3rem;
	--fs-paragraph: 1.375rem;

	--fw-regular: 400;

	--lh-heading-1: 4.375rem;
	--lh-heading-2: 3.75rem;
	--lh-heading-3: 2.8125rem;
}

@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
	}

	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}
}

@layer base {
	html,
	body {
		margin: 0;
		height: 100%;
		overflow: hidden;
	}

	body {
		font: var(--fs-paragraph) var(--ff-paragraph);
		color: var(--c-primary);
		background-color: var(--c-secondary);
	}
}

/* Body Wrapper */
.content-wrapper {
	padding-inline: 1.5rem;
	padding-block: 2rem;
}

/* Body BG & Blur */
.body-bg {
	background-image: url("/images/ginger-motto-bg.svg");
	background-repeat: no-repeat;
	background-position: top -175px left -200px;
	backdrop-filter: blur(8px);
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-block-end: 1rem;
}

#logotype {
	width: 6.5rem;
}

/* Hamburger */
.nav-hamburger {
	outline: none;
	border: none;
	background: none;
	appearance: none;
	cursor: pointer;
	padding: 0;

	width: 2rem;
	height: 2rem;

	display: block;
	position: relative;
	margin-inline-start: auto;
	z-index: 98;
}

.nav-hamburger .bar,
.nav-hamburger:before {
	content: "";
	display: block;
	position: absolute;
	height: 0.3rem;
	margin: 0.25rem 0;
	background-color: black;
	border-radius: 20rem;
	transition: 0.3s ease-in-out;
}

.nav-hamburger:before {
	width: 100%;
	top: 20%;
}

.nav-hamburger .bar {
	width: 75%;
	right: 0;
}

.nav-hamburger.is-active:before {
	transform: rotate(45deg) translate(0.2rem, 0.16rem);
}

.nav-hamburger.is-active .bar {
	width: 100%;
	transform: rotate(-45deg) translate(0.275rem, -0.25rem);
}

/* Navigation */
.nav-menu {
	position: fixed;
	inset: 0;
	z-index: 97;

	padding-inline-start: 1rem;
	background-color: var(--c-secondary);
	translate: 100vw 0;
	transition: translate 0.5s ease-in-out;

	display: flex;
	align-items: center;
}

.nav-menu[expanded="true"] {
	translate: 0;
}

.nav-links {
	list-style: none;
	padding-inline-start: 1rem;

	.nav-item {
		text-transform: uppercase;
		font-size: var(--fs-heading-3);
		padding-block: 0.2em;
	}

	.nav-link {
		text-decoration: none;
		color: var(--c-primary);
		transition: 0.3s ease-in-out;
	}
}

/* Main */
.hero-wrapper {
	display: grid;
	justify-items: left;
	gap: 1rem;
	margin-block-start: 2rem;
}

/* Heading */
.hero-heading {
	text-transform: uppercase;
	font-family: var(--ff-heading);
	font-size: var(--fs-heading-2);
	font-weight: var(--fw-regular);
	line-height: var(--lh-heading-3);
}

/* Carat */
.carat-wrapper {
	display: inline-block;
	position: relative;
}

.carat {
	position: absolute;
	content: "";
	width: 0.3em;
	height: 0.75em;
	background-color: var(--c-primary);
	left: 2.55em;
}

/* Content */
.hero-content {
	margin-block: 0.275em;
}

/* CTA Buttons */
.hero-cta-btns {
	display: grid;
	width: 100%;
	gap: 1rem;

	button {
		cursor: pointer;
		border: 2px solid var(--c-primary);
		padding-block: 0.75em;
	}

	button:nth-child(1) {
		background-color: var(--c-primary);
		color: var(--c-secondary);
	}

	button:nth-child(2) {
		background-color: var(--c-secondary);
		color: var(--c-primary);
	}
}

/* Peek-a-boo Kitty */
.peek-a-boo-kitty::before {
	content: url("/images/ginger-logomark-tablet.svg");
	position: fixed;
	bottom: -64px;
	left: -48px;
	z-index: -2;
}

/* Media Queries */

/* Mobile */
@media only screen and (max-width: 40em) {
	.heading-tablet-desktop,
	.content-desktop,
	.content-tablet,
	.peek-a-boo-kitty {
		display: none;
	}

	.heading-mobile,
	.content-mobile {
		display: block;
	}
}

/* Tablet */
@media only screen and (min-width: 40em) {
	.content-desktop,
	.heading-mobile,
	.content-mobile {
		display: none;
	}

	.heading-tablet-desktop,
	.content-tablet,
	.peek-a-boo-kitty {
		display: block;
	}

	.body-bg {
		background-position: top 75px left 190px;
		backdrop-filter: blur(0px);
	}

	#logotype {
		width: 9rem;
	}

	.nav-hamburger {
		width: 2.5rem;
		height: 2.5rem;
	}

	.nav-hamburger.is-active:before {
		transform: rotate(45deg) translate(0.28rem, 0.25rem);
	}

	.nav-links .nav-item {
		padding-block: 0.4em;
	}

	.hero-wrapper {
		position: relative;
		max-width: 28em;
		margin-block-start: 4.5rem;
		margin-inline: 2.5rem;

		padding-inline: 3rem;
		padding-block: 4.5rem;

		border: 5px solid var(--c-primary);
		border-radius: 1rem;

		backdrop-filter: blur(8px);

		/* always centered horizontally */
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 5rem;
	}

	/* hero window decor */
	.hero-wrapper::after {
		position: absolute;
		content: url("/icons/window-btns.svg");
		width: 100%;
		height: 3rem;
		top: 0;
		background-color: var(--c-primary);

		display: flex;
		align-items: center;
		justify-content: right;
		padding-inline-end: 1.25rem;
	}

	.hero-heading {
		line-height: var(--lh-heading-2);
		margin-block: 0.6em;
	}

	.carat {
		top: 0.08em;
		left: 4.25em;
	}

	.hero-content {
		margin-block-end: 2.5em;
	}

	.hero-cta-btns {
		display: flex;

		button {
			padding-block: 1.5em;
		}

		button:nth-child(1) {
			flex-grow: 1;
		}

		button:nth-child(2) {
			padding-inline: clamp(1.5em, 6vw, 2.5em);
		}
	}
}

/* Tablet Additional BP for Landscape */
@media only screen and (min-width: 62em) {
	.hero-wrapper {
		max-width: 53.5rem;
		padding-block: 1.5rem;
		top: 4rem;
	}

	.hero-heading {
		margin-block-end: 0;
	}

	.hero-content {
		margin-block-end: 1em;
	}
}

/* Desktop */
@media only screen and (min-width: 80em) {
	.heading-tablet-desktop,
	.content-desktop,
	.peek-a-boo-kitty {
		display: block;
	}

	.content-tablet,
	.heading-mobile,
	.content-mobile {
		display: none;
	}

	.body-bg {
		background-position: top 140px right -110px;
	}

	.hero-wrapper {
		max-width: 67.5rem;
		padding-block: 4.5rem;
		padding-inline: 6rem;
		border: 6px solid var(--c-primary);

		top: 8rem;
	}

	.hero-heading {
		font-size: var(--fs-heading-1);
		line-height: var(--lh-heading-1);
		margin-block: 0.6em;
	}

	.carat {
		top: 0.06em;
	}

	.hero-content {
		margin-block-end: 2.5em;
	}

	.hero-content p {
		padding-inline-end: 7em;
		line-height: 30px;
	}

	.hero-cta-btns {
		button {
			width: 15em;
		}

		button:nth-child(1) {
			flex-grow: 0;
			margin-inline-end: 5em;
		}

		button:nth-child(1):hover {
			background-color: var(--c-secondary);
			color: var(--c-primary);
		}

		button:nth-child(2):hover {
			background-color: var(--c-primary);
			color: var(--c-secondary);
		}
	}

	.peek-a-boo-kitty::before {
		content: url("/images/ginger-logomark-desktop.svg");
		bottom: -120px;
		left: -112px;
	}
}

/* Header Only Media Query */
/* Remove Hamburger and make Nav visible */
@media only screen and (min-width: 80em) {
	#logotype {
		position: absolute;
		z-index: 1;
		width: 17.5rem;
	}

	/* Position Nav Right until 100em breakpoint */
	nav {
		width: 100vw;
		display: flex;
		justify-content: right;
	}

	.nav-hamburger {
		display: none;
	}

	.nav-menu {
		position: relative;
		translate: 0;
		background: none;
	}

	.nav-links {
		display: inline-flex;
		gap: 1em;
		
		.nav-item{
			font-size: var(--fs-paragraph);
			padding-inline: 1em;
		}

		.nav-link {
			padding-inline: 1em;
			transition: all 0s;
		}

		.nav-item:hover {
			cursor: pointer;
			background-color: var(--c-primary);

			.nav-link {
				color: var(--c-secondary);
			}
		}
	}
}

/* Position Nav Center */
@media only screen and (min-width: 100em) {
	nav {
		justify-content: center;
	}
}
